{% extends "base.html" %}

{% block title %}Moje datoteke - Naloži.si{% endblock %}

{% block content %}
<h1>Moje datoteke</h1>

{% if items  %}
<table>
	<thead>
		<tr>
			<th>Datoteka</th>
			<th>Zasebno?</th>
			<th>Naloženo</th>
		</tr>
	</thead>
	{% for item in items %}
	<tr>
		<td><a href="/datoteka/{{item.path}}">{{item.name}}</a></td>
		<td style="text-align:center">
		{% if item.is_private %}
		<img src="/images/check.png" style="width:15px" />
		{% endif %}
		</td>
		<td>
		{{item.pub_date}}
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
Trenutno še nimaš dodanih datotek.
{% endif %}
{% endblock %}