{% extends "base.html" %}

{% block content %}
<h1>Registracija</h1>
{% if errors %}
{% for e in errors %}
{{ e }}<br />
{% endfor %}
<br />
{% endif %}
<form action="/registracija" method="post">
{% csrf_token %}
Uporabniško ime: <input type="text" value="{{username}}" name="username" /><br />
E-mail naslov: <input type="text" value="{{email}}" name="email" /><br />
Geslo: <input type="password" name="password" /><br />
Geslo (ponovno): <input type="password" name="password2" /><br />
<input type="submit" value="Registracija" />
</form>
{% endblock %}